mixin board(data)
  #board
    if data.lanes
      each lane in data.lanes
        include lane
        +lane(lane)

    #add-lane-btn.add-new.round(name='add-lane-btn')
      form.hidden(name='add-form', onsubmit='return false')
        input(name='lane-name', placeholder='Name your lane.', type='text')
      i.fas.fa-plus(name='add-icon', aria-hidden='true')
