mixin card(cardData)
  .card.round(data-db-id=cardData.id)
    .editing-buttons
      i.fas.fa-angle-left(name='left', aria-hidden='true')
      i.fas.fa-angle-up(name='up', aria-hidden='true')
      div
        i.fas.fa-edit(name='edit', aria-hidden='true')
        i.fas.fa-trash-alt(name='delete', aria-hidden='true')
      i.fas.fa-angle-down(name='down', aria-hidden='true')
      i.fas.fa-angle-right(name='right', aria-hidden='true')
    .card-head
      //- CARD NAME VAR
      p= cardData.cardName
    .card-body
      //- LANE DESCR VAR
      p= cardData.cardDescr
