mixin lane(laneData)
  .lane.round(data-db-id=laneData.id)
    .editing-buttons
      i.fas.fa-angle-left(name='left', aria-hidden='true')
      div
        i.fas.fa-edit(name='edit', aria-hidden='true')
        i.fas.fa-trash-alt(name='delete', aria-hidden='true')
      i.fas.fa-angle-right(name='right', aria-hidden='true')
    .lane-head
      //- LANE NAME VAR
      p= laneData.laneName
    .card-container.round
      if laneData.cards.length > 0
        each card in laneData.cards
          include card
          +card(card)
    .add-new.round(name='add-card-btn')
      i.fas.fa-plus(name='add-icon', aria-hidden='true')
      form.hidden(name='add-form', onsubmit='return false')
        input(placeholder='Name your card.')
        input(placeholder='Add a card description.')
